{% extends 'base.html.twig'%}

{% block content %}
    <div class="container">
        <div class="row">
            {% for product in products %}

                <div class="card col-1 col-md-4 card-box" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product|upper }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Voir le produit</a>
                    </div>
                </div>



            {% endfor %}
        </div>
    </div>

{% endblock %}
